<!doctype html>
<html lang="en" class="no-js">

<head>
    <title>MiniCNCMill - Docs</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700%7CRoboto+Mono&display=fallback">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/styles.css">
    <link rel="canonical" href="https://minicncmill.gitlab.io/">
    <link rel="icon" href="assets/images/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="assets/stylesheets/main.f7f47774.min.css">
    <link rel="stylesheet" href="assets/stylesheets/palette.3f5d1f46.min.css">
</head>

<body dir="ltr" data-md-color-scheme="" data-md-color-primary="none" data-md-color-accent="none">
    <script>
        function __prefix(e) {
            return new URL(".", location).pathname + "." + e
        }
        function __get(e, t = localStorage) {
            return JSON.parse(t.getItem(__prefix(e)))
        }
    </script>

    <div data-md-component="skip">
        <a href="#welcome-to-mkdocs" class="md-skip">
            Skip to content
        </a>
    </div>

    <div data-md-component="announce">
    </div>

    <header class="md-header" data-md-component="header">
        <nav class="md-header__inner md-grid" aria-label="Header">
            <a href="index.html" title="Home" class="md-header__button md-logo" aria-label="foobar" data-md-component="logo">


                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M12 8a3 3 0 0 0 3-3 3 3 0 0 0-3-3 3 3 0 0 0-3 3 3 3 0 0 0 3 3m0 3.54C9.64 9.35 6.5 8 3 8v11c3.5 0 6.64 1.35 9 3.54 2.36-2.19 5.5-3.54 9-3.54V8c-3.5 0-6.64 1.35-9 3.54z" />
                </svg>

            </a>
            <label class="md-header__button md-icon" for="__drawer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2z" />
                </svg>
            </label>
            <div class="md-header__title" data-md-component="header-title">
                <div class="md-header__ellipsis">
                    <div class="md-header__topic">
                        <span class="md-ellipsis">
                            MiniCNCMill
                        </span>
                    </div>
                    <div class="md-header__topic" data-md-component="header-topic">
                        <span class="md-ellipsis">

                            Home

                        </span>
                    </div>
                </div>
            </div>

            <label class="md-header__button md-icon" for="__search">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16 6.5 6.5 0 0 1 3 9.5 6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14 14 12 14 9.5 12 5 9.5 5z" />
                </svg>
            </label>

            <div class="md-search" data-md-component="search" role="dialog">
                <label class="md-search__overlay" for="__search"></label>
                <div class="md-search__inner" role="search">
                    <form class="md-search__form" name="search">
                        <input type="text" class="md-search__input" name="query" aria-label="Search"
                            placeholder="Search" autocapitalize="off" autocorrect="off" autocomplete="off"
                            spellcheck="false" data-md-component="search-query" required>
                        <label class="md-search__icon md-icon" for="__search">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16 6.5 6.5 0 0 1 3 9.5 6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14 14 12 14 9.5 12 5 9.5 5z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M20 11v2H8l5.5 5.5-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5 8 11h12z" />
                            </svg>
                        </label>
                        <nav class="md-search__options" aria-label="Search">

                            <button type="reset" class="md-search__icon md-icon" aria-label="Clear" tabindex="-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                                </svg>
                            </button>
                        </nav>

                    </form>
                    <div class="md-search__output">
                        <div class="md-search__scrollwrap" data-md-scrollfix>
                            <div class="md-search-result" data-md-component="search-result">
                                <div class="md-search-result__meta">
                                    Initializing search
                                </div>
                                <ol class="md-search-result__list"></ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </nav>
    </header>

    <div class="md-container" data-md-component="container">
        <main class="md-main" data-md-component="main">
            <div class="md-main__inner md-grid">
                <section id="multirepo"></section>
            </div>
        </main> 

        <footer class="md-footer">
            <div class="md-footer-meta md-typeset">
                <div class="md-footer-meta__inner md-grid">
                    <div class="md-footer-copyright">
                        Made with
                        <a href="https://squidfunk.github.io/mkdocs-material/" target="_blank" rel="noopener">
                            Material for MkDocs
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <div class="md-dialog" data-md-component="dialog">
        <div class="md-dialog__inner md-typeset"></div>
    </div>
    <script src="assets/javascripts/bundle.febc23d1.min.js"></script>


</body>

</html>